/* Profile specific styles */

main {
  padding: 30px 90px;
}

main img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.profile-h {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 100px;
  align-items: flex-start;
  min-height: 500px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.split-screen {
  width: 5px;
  background-color: #000000;
  margin: 0 30px;
  align-self: stretch;
  border-radius: 5px;
  min-height: 300px;
}

.text-h,
.text-h h2 {
  flex: 2;
}

.text-h h2 {
  font-size: 3rem;
}

.h-profile {
  font-size: 20px;
  line-height: 1.8;
  text-align: left;
}

.info-tabs button {
  background: none;
  border: none;
  font-size: 18px;
  margin: 20px 10px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tab.active {
  text-decoration: underline;
  font-weight: bold;
}

@media (max-width: 768px) {
  .profile-h {
    flex-direction: column;
    align-items: center;
  }

  .split-screen {
    width: 0%;
    min-height: 0px;
    margin: 0px 0px;
  }

  main {
    padding: 30px;
  }

  main h1 {
    position: static;
    margin-bottom: 60px;
  }
}
